/* ==============================
FONT FAMILY
 ================================ */
@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
		url("fonts/Montserrat/Montserrat-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rosa Marena";
	src: url("fonts/Rosa/RosaMarena.woff2") format("woff2"),
		url("fonts/Rosa/RosaMarena.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
