section.intro
	img.mobile-decor.mobile-decor--top(src="images/mobile-decor-1.svg", alt="")
	img.mobile-rose.mobile-rose--top(src="images/rose-top.svg", alt="")
	img.desktop-decor.desktop-decor--left(src="images/decor-top-left.svg", alt="")
	img.desktop-decor.desktop-decor--right(src="images/decor-top-right.svg", alt="")
	.container.intro-wrapper
		h1.intro__title.font-rosa Дорогой
			br
			span
			| Гость!
		p.intro__text Совсем скоро в нашей жизни произойдет очень важное событие. Мы станем семьей!
		p.intro__text С огромной радостью приглашаем Вас разделить с нами этот прекрасный день-
		p.intro__text.intro__text--span.font-rosa День Нашей Свадьбы!
	img.mobile-decor.mobile-decor--bottom(src="images/mobile-decor-2.svg", alt="")
	img.mobile-rose.mobile-rose--bottom(src="images/rose-bottom.svg", alt="")
	img.desktop-decor.desktop-decor--bottom(src="images/decor-bottom.svg", alt="")