/// SIZES
$container-width: 740px;
$font-size: 23px;
$line-height: 24px;

/// BREAKPOINTS
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

/// FONT-FAMILY
$family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
	"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/// COLOR PALETTES
$primary-color: #e5d6cd;
$rosa: "Rosa Marena", -apple-system, BlinkMacSystemFont, "Segoe UI",
	"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
