/* ==============================
INTRO
 ================================ */
.intro {
	position: relative;
	text-align: center;
	min-height: 100vh;
	margin-bottom: 30px;
	@include fluid(
		"padding-top",
		(
			320px: 132px,
			1200px: 62px,
		)
	);
	@include fluid(
		"padding-bottom",
		(
			320px: 228px,
			1200px: 245px,
		)
	);
	&__title {
		@include fluidFontSize(60px, 97px, 320px, 1200px, 60px);
		@include fluid(
			"line-height",
			(
				320px: 70px,
				1200px: 114px,
			)
		);
		text-align: right;
		margin-bottom: 12px;
		margin-right: 45px;
	}
	&-wrapper {
		z-index: 3;
	}
	&__text {
		text-align: center;
		margin: auto;
		width: 100%;
		@include fluidFontSize(23px, 40px, 320px, 1200px, 23px);
		@include fluid(
			"line-height",
			(
				320px: 28px,
				1200px: 49px,
			)
		);
		@include fluid(
			"max-width",
			(
				320px: 300px,
				1200px: 670px,
			)
		);
		&--span {
			@include fluidFontSize(43px, 80px, 320px, 1200px, 43px);
			@include fluid(
				"margin-top",
				(
					320px: 40px,
					1200px: 60px,
				)
			);
			@include fluid(
				"line-height",
				(
					320px: 70px,
					1200px: 132px,
				)
			);
			@include fluid(
				"max-width",
				(
					320px: 190px,
					1200px: 360px,
				)
			);
		}
		&:not(:last-child) {
			@include fluid(
				"margin-bottom",
				(
					320px: 20px,
					1200px: 35px,
				)
			);
		}
	}
}

.mobile-decor {
	z-index: -2;
	position: absolute;
	@media (min-width: 768px) {
		display: none;
	}
	&--top {
		width: 100%;
		@include fluid(
			"top",
			(
				320px: -68px,
				767px: -234px,
			)
		);
		left: 50%;
		transform: translateX(-50%);
	}
	&--bottom {
		width: 100%;
		// bottom: -30px;
		@include fluid(
			"bottom",
			(
				320px: -30px,
				767px: -375px,
			)
		);
		left: 50%;
		transform: translateX(-50%);
	}
}

.mobile-rose {
	position: absolute;
	z-index: -1;
	&--top {
		width: 100%;
		@include fluid(
			"max-width",
			(
				320px: 342px,
				767px: 550px,
			)
		);
		@include fluid(
			"top",
			(
				320px: -36px,
				767px: -100px,
			)
		);
		@include fluid(
			"left",
			(
				320px: -58px,
				767px: -52px,
			)
		);
	}
	&--bottom {
		width: 100%;
		bottom: 84px;
		right: 0;
		@include fluid(
			"max-width",
			(
				320px: 180px,
				767px: 342px,
			)
		);
		@media (min-width: 670px) {
			bottom: 25px;
		}

		// @include fluid(
		// 	"bottom",
		// 	(
		// 		320px: 84px,
		// 		768: 25px,
		// 	)
		// );
		@media (min-width: 1024px) {
			bottom: 16px;
		}
	}
}

.desktop-decor {
	z-index: -2;
	visibility: hidden;
	@media (min-width: 768px) {
		visibility: visible;
	}
	position: absolute;
	&--left {
		top: 6px;
		left: -36px;
	}
	&--right {
		top: -1px;
		right: -1px;
	}
	&--bottom {
		bottom: -123px;
		left: 10px;
		@media (min-width: 1024px) {
			bottom: -198px;
			left: 0;
		}
		@media (min-width: 1200px) {
			bottom: -198px;
			left: 0;
		}
	}
}
